<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ltq.dao.PostMapper">

	<!-- 增 -->
	
	<insert id="addPost" parameterType="org.ltq.entity.Post">
		insert into post(post_type,post_title,post_content,user_account,user_name,post_time,post_image,post_likeNum,post_subscribeNum,post_viewNum,post_replyNum) values(#{post_type},#{post_title},#{post_content},#{user_account},#{user_name},#{post_time},#{post_image},0,0,0,0)
		<selectKey keyColumn="post_id" keyProperty="post_id" resultType="java.lang.Integer" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<!-- 删 -->
	
	<delete id="deletePostByPID" parameterType="java.lang.Integer">
		delete from post where post_id = #{post_id}
	</delete>
	
	<!-- 改 -->
	
	<!-- 查 -->
	
	<select id="queryPostInfoByTypeOrdByTime" parameterType="String" resultMap="postMapping">
		select post_id,post_type,post_title,user_account,user_name,post_time,post_likeNum,post_subscribeNum,post_viewNum from post where post_type = #{post_type} order by post_time desc
	</select>
	
	<select id="queryPostInfoByAccOrdByTime" parameterType="String" resultMap="postMapping">
		select post_id,post_type,post_title,user_account,user_name,post_time,post_likeNum,post_subscribeNum,post_viewNum from post where user_account = #{user_account} order by post_time desc
	</select>
	
	<select id="queryPostInfoByPIDList" resultMap="postMapping" parameterType="java.util.List">
		select post_id,post_type,post_title,user_account,user_name,post_time,post_likeNum,post_subscribeNum,post_viewNum from post where post_id in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
	
	<select id="queryPostByPostID" parameterType="java.lang.Integer" resultMap="postMapping">
		select * from post where post_id = #{post_id}
	</select>
	
	<select id="queryPostCountByPType" parameterType="String" resultType="int">
		select count(*) from post where post_type = #{post_type}
	</select>
	
	<select id="queryPostCountByUAcc" parameterType="String" resultType="int">
		select count(*) from post where user_account = #{user_account}
	</select>
	
	<!-- 存储过程 -->
	
	<!-- 
		BEGIN
		#Routine body goes here...
		DECLARE c int;
		DECLARE d int;
		select post_viewNum into c from post where post_id = pid;
		set d = c + 1;
		update post set post_viewNum = d where post_id = pid;
		END
	 -->
	<update id="addPostViewNumByPid" parameterType="java.lang.Integer">
		call addPostViewNum(#{pid})
	</update>
	
	<!-- 
		BEGIN
		#Routine body goes here...
		DECLARE a int;
		DECLARE b int;
		select post_likeNum into a from post where post_id = pid;
		set b = a + 1;
		update post set post_likeNum = b where post_id = pid;
		END
	 -->
	<update id="addPostLikeNumByPid" parameterType="java.lang.Integer">
		call addPostLikeNum(#{pid})
	</update>
	
	
	<!-- resultMap -->
	
	<resultMap type="org.ltq.entity.Post" id="postMapping">
		<id property="post_id" column="post_id"/>
		<result property="post_type" column="post_type"/>
		<result property="post_title" column="post_title"/>
		<result property="post_content" column="post_content"/>
		<result property="user_account" column="user_account"/>
		<result property="user_name" column="user_name"/>
		<result property="post_time" column="post_time" javaType="java.lang.String" jdbcType="TIMESTAMP"/>
		<result property="post_image" column="post_image"/>
		<result property="post_likeNum" column="post_likeNum"/>
		<result property="post_subscribeNum" column="post_subscribeNum"/>
		<result property="post_viewNum" column="post_viewNum"/>
		<result property="post_replyNum" column="post_replyNum"/>
		
	</resultMap>
	
</mapper>