@charset "UTF-8";
body {
    background-color: gray;
    background: url("../images/bg.jpg") no-repeat;
    background-size: cover;
}


.box {
    background-color: white;
    width: 1100px;
    margin: 10px auto;
}

.content {
    margin: 40px;
    padding: 40px;
}

#list {
    margin: 4px;
    padding: 4px;
}

#footer {
    height: 40px;
    line-height: 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #333;
    color: #fff;
    font-family: Arial;
    font-size: 12px;
    letter-spacing: 1px;
}

